.Calculator {
   &__row {
      gap: max(2%, 0.75rem);
      margin-bottom: 0.75rem;

      @media screen and (max-width: 578px) {
         flex-wrap: wrap;
      }
   }

   &__storage-scheme {
      gap: max(2%, 0.5rem);

      @media screen and (max-width: 578px) {
         flex-wrap: wrap;
      }
   }
}
